<form action="/votations/<%= @votation.id%>" method="post">
<% @votation.options.order("id asc").each do |option| %>
	<h3><%= option.nome %></h3> 
	<strong><%= "Máximo #{option.quantity}" if option.quantity > 1 %></strong>
	<br />
	<% option.option_values.order("id asc").each do |option_value| %>
		<% if option.quantity > 1 %>
		<input type="checkbox" name="vote[<%= option.id%>][]" value="<%= option_value.id %>"> <%= option_value.name %><br />
		<% else %>
		<%= radio_button("vote", option.id, option_value.id) %> <%= option_value.name %><br />
		<% end %>
	<% end %>
<% end %>
<input type="hidden" name="account_id" value="<%= session[:user].id %>">
<br />
<button>Enviar</button>
</form>